.table-wrapper
{
    overflow-x:auto;
}

@media (max-width:768px)
{
    body
    {
        padding:15px;
    }

    table
    {
        font-size:14px;
    }
}

img:hover
{
    transform:scale(1.05);
}

img{
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px; 
}
}